*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  margin: 0;
}

::-webkit-input-placeholder {
  font-size: 12px;
  color: #999999;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  top: -4px;
}

:-ms-input-placeholder {
  font-size: 12px;
  color: #999999;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  top: -4px;
}

::-ms-input-placeholder {
  font-size: 12px;
  color: #999999;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  top: -4px;
}

::placeholder {
  font-size: 12px;
  color: #999999;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  top: -4px;
}

/* input:focus::placeholder {
    color: transparent;
} */
html {
  background: #fafafa;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  font-family: 'Segoe UI', sans-serif;
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  33.333% {
    opacity: 0;
  }
  66.666% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  33.333% {
    opacity: 0;
  }
  66.666% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade2 {
  0% {
    opacity: 0;
  }
  33.333% {
    opacity: 1;
  }
  66.666% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade2 {
  0% {
    opacity: 0;
  }
  33.333% {
    opacity: 1;
  }
  66.666% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fade3 {
  0% {
    opacity: 0;
  }
  33.333% {
    opacity: 0;
  }
  66.666% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade3 {
  0% {
    opacity: 0;
  }
  33.333% {
    opacity: 0;
  }
  66.666% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fade4 {
  0% {
    opacity: 0;
  }
  33.333% {
    opacity: 1;
  }
  66.666% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade4 {
  0% {
    opacity: 0;
  }
  33.333% {
    opacity: 1;
  }
  66.666% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.footer--login {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr;
      grid-template: 1fr/ 1fr;
  background: lightcoral;
  padding: 20px;
}

.main {
  margin-top: 30px;
}

.container {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-rows: 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template: 1fr 1fr 1fr / 1fr 1fr;
  width: 100%;
  max-width: 935px;
  margin: 0 auto;
}

.item:nth-of-type(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / span 3;
  position: relative;
  left: 50px;
}

.item:nth-of-type(2) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  position: relative;
  left: 27px;
}

.item:nth-of-type(3) {
  grid-column: 2 / -1;
  position: relative;
  left: 27px;
}

.item:nth-of-type(4) {
  grid-column: 2 / -1;
  position: relative;
  left: 27px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template: 1fr 1fr / 1fr 1fr;
  position: relative;
  top: -29px;
}

.slider-image {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-info {
  width: 348px;
}

.app-info__header {
  grid-column: 1 / -1;
  color: #262626;
  font-size: 14px;
  line-height: 18px;
  margin: 10px 20px;
  text-align: center;
}

.app-info__apple, .app-info__android {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app-info__apple a img,
.app-info__android a img {
  height: 40px;
}

.app-info__apple {
  margin-left: 30px;
}

.app-info__android {
  margin-right: 30px;
}

.login-panel {
  width: 350px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  margin: 0 0 10px;
  margin-top: 33px;
  padding: 0px 40px 10px 40px;
}

.login-panel__logo {
  width: 185px;
  margin: 22px auto 31px;
  display: block;
}

.login-panel__divider {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 50px 1fr;
      grid-template: 1fr / 1fr 50px 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-panel__divider div:nth-child(1),
.login-panel__divider div:nth-child(3) {
  height: 1px;
  width: 100%;
  background: #efefef;
}

.login-panel__divider div:nth-child(2) {
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  line-height: 15px;
  color: #999;
}

.login-panel .login-facebook {
  color: #385185;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  margin-top: 25px;
  padding: 0 28px;
}

.login-panel .login-facebook .image-fb {
  background: url(../../img/login/facebook-icon.png);
  width: 16px;
  height: 16px;
  margin-right: 8px;
  position: relative;
  top: 3px;
}

.login-panel .forgot-password {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0;
}

.login-panel .forgot-password a {
  font-size: 12px;
  line-height: 14px;
  margin-top: 12px;
  text-align: center;
  color: #003569;
  text-decoration: none;
  font-family: inherit;
}

.form {
  display: -ms-grid;
  display: grid;
}

.form__group {
  position: relative;
  margin-bottom: 7px;
}

.form__group .input__user,
.form__group .input__password {
  height: 37px;
  padding: 9px 0px 0px 8px;
  background-color: #fafafa;
  width: 100%;
  border: 1px solid #efefef;
  border-radius: 3px;
  outline: none;
  font-size: 12px;
  font-family: inherit;
}

.form__group .input__user:focus,
.form__group .input__password:focus {
  border: 1px solid #bebebe;
}

.form__group .input__user:placeholder-shown + .input__label,
.form__group .input__password:placeholder-shown + .input__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
}

.form__group .input__label {
  position: absolute;
  top: 3px;
  color: #999;
  font-size: 10px;
  left: 8px;
  pointer-events: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.register {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  width: 348px;
  height: 63px;
  margin: 0 0 10px;
  text-align: center;
  padding-top: 20px;
  color: #262626;
  font-size: 14px;
  font-weight: 300;
}

.register a {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #3897f0;
}

.button {
  padding: 6px 9px;
  color: white;
  background: #3897f0;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 8px 0 15px 0;
  cursor: pointer;
}

.button-lg {
  width: 100%;
}

.slider-image {
  position: relative;
}

.slider-image .image-transition {
  width: 240px;
  height: 427px;
  left: 158px;
  top: 104px;
  position: absolute;
}

.slider-image .image-transition .image1,
.slider-image .image-transition .image2,
.slider-image .image-transition .image3,
.slider-image .image-transition .image4 {
  width: 100%;
  height: 100%;
  position: absolute;
}

.slider-image .image-transition .image1 {
  background: url(../img/login/img1.jpg) no-repeat center;
  background-size: cover;
  -webkit-animation: fade 8s infinite;
          animation: fade 8s infinite;
}

.slider-image .image-transition .image2 {
  background: url(../img/login/img2.jpg) no-repeat center;
  background-size: cover;
  -webkit-animation: fade2 8s infinite;
          animation: fade2 8s infinite;
}

.slider-image .image-transition .image3 {
  background: url(../img/login/img3.jpg) no-repeat center;
  background-size: cover;
  -webkit-animation: fade3 8s infinite;
          animation: fade3 8s infinite;
}

.slider-image .image-transition .image4 {
  background: url(../img/login/img4.jpg) no-repeat center;
  background-size: cover;
  -webkit-animation: fade4 8s infinite;
          animation: fade4 8s infinite;
}
/*# sourceMappingURL=style.css.map */