.login-panel {
    width: 348px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    margin: 0 0 10px;
    margin-top: 30px;
    padding: 10px 0;
    & .login-logo {
        width: 175px;
        margin: 25px auto 10px;
        display: block;
    }
    & .login-body {
        padding: 20px 40px;
        & .form {
            display: grid;
            row-gap: 6px;
            position: relative;
            &-user,
            &-password {
                padding: 14px 0px 2px 8px;
                font-family: inherit;
                font-size: 10.5px;
                height: 36px;
                background: $grey;
                border-radius: 4px;
                border: 1px solid #ececec;
                outline: none;
                &:focus+label {
                    display: initial;
                    opacity: 1;
                    top: 5px;
                    left: 10px;
                    transition: all .3s;
                }
            }
            &-password:focus+label {
                top: 45px;
                transition: all .3s;
            }
            & .placeholder {
                font-size: 10px;
                color: #999999;
                position: absolute;
                opacity: 0;
                &-user {
                    top: 30px;
                }
                &-password {
                    top: 70px;
                }
            }
        }
        .divider {
            display: grid;
            grid-template: 1fr / 1fr 50px 1fr;
            align-items: center;
            & div:nth-child(1),
            & div:nth-child(3) {
                height: 1px;
                width: 100%;
                background: #efefef;
            }
            & div:nth-child(2) {
                text-align: center;
                font-size: 13px;
                font-weight: 600;
                line-height: 15px;
                color: #999;
            }
        }
        .login-facebook {
            color: #385185;
            font-size: 14px;
            font-weight: 600;
            line-height: 18px;
            margin-top: 25px;
            padding: 0 28px;
            & .image-fb {
                background: url(../../img/login/facebook-icon.png);
                width: 16px;
                height: 16px;
                margin-right: 8px;
                position: relative;
                top: 3px;
            }
        }
    }
}