// VARIABLES
$blue: #3897f0;
$grey: #fafafa;
*,
*:before,
*:after {
    box-sizing: border-box;
    border: 0;
    margin: 0;
}

::placeholder {
    font-size: 12px;
    color: #999999;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    top: -4px;
}


/* input:focus::placeholder {
    color: transparent;
} */

html {
    background: $grey;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}